.main {
  background: #585cc6;
  padding-top: 93px;
  padding-bottom: 106px;
  @media (max-width: 576px) {
    padding-top: 43px;
    padding-bottom: 82px;
  }
  h1 {
    margin: 0 0 0 80px;
    font-family: "Factor A";
    font-style: normal;
    font-weight: 500;
    font-size: 124px;
    line-height: 148px;
    color: #ffffff;
    @media (max-width: 710px) {
      font-size: 48px;
      line-height: 54px;
      margin: 0 0 0 16px;
    }
  }
  .about {
    margin: 88px 80px 120px 80px;
    display: flex;
    @media (max-width: 710px) {
      margin: 64px 16px 57px 16px;
      display: block;
    }
    .ava {
      width: 519px;
      height: 383px;
      margin-top: 32px;
      background: url(../../img/photo.jpg) center / cover;
      object-fit: cover;
      @media (max-width: 710px) {
        width: 304px;
        height: 200px;
        margin: 0;
      }
    }
    .aboutText {
      width: fit-content;
      background: #fff;
      padding: 40px;
      margin-bottom: 20px;
      @media (max-width: 710px) {
        width: 256px;
        padding: 16px;
        margin: 0;
      }
      .marg {
        .top {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;
          @media (max-width: 710px) {
            display: block;
            margin-bottom: 16px;
          }
          .name {
            margin: 0;
            font-family: "Factor A";
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 32px;
            color: #585cc6;
            @media (max-width: 710px) {
              font-size: 24px;
              line-height: 32px;
            }
          }
          .date {
            margin: 0;
            font-family: "Gilroy";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: #8a8a8a;
            @media (max-width: 710px) {
              font-size: 16px;
              line-height: 22px;
            }
          }
        }
        .info {
          display: flex;
          grid-column-gap: 40px;
          margin-bottom: 18px;
          flex-wrap: wrap;
        }
        p {
          margin: 0;
          font-family: "Gilroy";
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 24px;
          color: #333333;
          span {
            font-weight: normal;
          }
          @media (max-width: 576px) {
            font-size: 16px;
            line-height: 22px;
          }
        }
        .pet {
          display: flex;
          grid-column-gap: 15px;
          margin-top: 35px;
          @media (max-width: 576px) {
            margin-top: 15px;
          }
        }
      }
    }
  }
}
