@import './fonts/gilroy/stylesheet.css';
@import './fonts/FactorA/stylesheet.css';

.css-26w9jf-MuiMobileStepper-dot{
    border-radius: 0;
    width: 100px;
    height: 100px;
}

.MuiLinearProgress-bar1{
    background: red !important;
}
.MuiBox-root{
    display: block !important;
}